<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

    <head>
        <title>Account Manager</title>

        <style>

            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }


        </style>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page">Account Manager</h3>


            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col background-table">


                    <div class="row" style="margin-bottom:2% ;">
                        <div class="col-sm-1" ></div>
                        <div class="col-sm-6" >
                            <div class="row">
                                <div class="col-sm-3"> <p th:text="'Post Total: '+${list.size()}"></p> 
                                <p th:text="'Reels Total : '+${list2.size()}"></p> 
                                </div>
                                <div class="col-sm-3" >
                                    <p th:text="'Follow Total : '+${acc.getFollowList().size()}"></p> 
                                    <p th:text="'Followed Total: '+${acc.getFollowList1().size()}"></p>
                                    
                                </div>
                                <div class="col-sm-3" >
                                    <p th:text="'ReelsLike Total : '+${acc.getReelsLikeList().size()}"></p> 
                                    <p th:text="'PostsLike Total: '+${acc.getPostLikeList().size()}"></p>
                                    
                                </div>
                                <div class="col-sm-3" >
                                    <p th:text="'ReelsLike Total : '+${acc.getReelsLikeList().size()}"></p> 
                                    <p th:text="'PostsLike Total: '+${acc.getPostLikeList().size()}"></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <h1>List Post</h1>
                                       <table class="table"  style="table-layout:fixed;" >
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Title</th>
                                <th scope="col">Image</th>
                                <th scope="col"></th>
                                <th scope="col">Content</th>
                                <th scope="col">Interactive</th>    
                                <th scope="col">Create Date</th>

                            </tr>
                        </thead>
                        <tbody th:if="${check == false}">
                            <tr>
                                <td colspan="5" style="text-align: center"> No Data </td>
                            </tr>

                        </tbody>

                        <tbody th:if="${check == true}">
                            <tr th:each="item,stt:${list}">

                                                    <th scope="row" th:text="${stt.Count}"></th>
                                <td th:text="${item.getIdAccount().getUsername()}" th:id="${item.getIdAccount()}" ></td>
                                <td th:text="${item.getTitle()}" ></td>
                                
                                <td>
                                    <img th:src="${'/images/posts/'+item.getImage()}" style="height: 200px;width: 180px;">    
                                </td>
                                <td style="word-wrap:break-word">   
                                </td>
                                <td style="word-wrap:break-word">   
                                    <p th:text="${item.getContent()}"></p>
                                </td>
                                <td th:text="${item.getPostCommentList().size()+' comment and ' +item.getPostLikeList().size()+' like '}"></td>
<!--                                <td th:src="images/user-photos/+${item.getPhone()}" ></td>-->
<!--                                <td th:text="${item.getCreateDate()}" ></td>-->
                                <td th:text="${item.getCreateDate()}"></td>
                               
<!--                        <td th:style="${item.getStatus()} == 0 ? 'color:green' : 'color:red' " th:text="${item.getStatus()} == 0?'Active':'Locked'"></td>-->    
                        
                            </tr>

                        </tbody>
                        
                    </table>
                    <h1>List Reels</h1>
                                        <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Title</th>
                                <th scope="col">Image</th>
                                <th scope="col">Content</th>
                                <th scope="col">Interactive</th>
                                <th scope="col">Create Date</th>


                            </tr>
                        </thead>
                        <tbody th:if="${check2 == false}">
                            <tr>
                                <td colspan="5" style="text-align: center"> No Data </td>
                            </tr>

                        </tbody>

                        <tbody th:if="${check2 == true}">
                            <tr th:each="item,stt:${list2}">

                                <th scope="row" th:text="${stt.Count}"></th>
                                <td th:text="${item.getIdAccount().getUsername()}" th:id="${item.getIdAccount()}" ></td>
                                <td th:text="${item.getTitle()}" ></td>
                                <td>    
                                    <video width="320" height="240" controls>
                                    <source th:src="${'/images/video/'+item.getVideo()}" type="video/mp4">

                                    </video>
<!--                                    <img th:src="${'/images/posts/'+item.getImage()}" style="height: 200px;width: 180px;">-->
                                        
                                </td>
                                <td th:text="${item.getContent()}"></td>
                                <td th:text="${item.getReelsCommentList().size()+' comment and ' +item.getReelsLikeList().size()+' like '}"></td>
<!--                                <td th:src="images/user-photos/+${item.getPhone()}" ></td>-->
<!--                                <td th:text="${item.getCreateDate()}" ></td>-->
                                <td th:text="${item.getCreateDate()}"></td>
                                
<!--                        <td th:style="${item.getStatus()} == 0 ? 'color:green' : 'color:red' " th:text="${item.getStatus()} == 0?'Active':'Locked'"></td>-->    
                        
                            </tr>

                        </tbody>
                    </table>

                    <button data-toggle="modal"
                            data-target="#infomationform"  hidden id="openfform">nnn</button>
                    <form action="/timeline/editname" method="post" >
                        <div class="modal fade" id="infomationform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">


                                        <h5 class="modal-title modal-title " id="exampleModalLabel">Thông tin lịch làm việc</h5>


                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="margin-top: 1%;">
                                                    <div class="col-sm-1"></div>
                                                    <div class="col">
                                                        <input type="Text" required class="form-control input" id="id"
                                                               name="id" hidden >
                                                        <input type="Text" required class="form-control input" id="TimelineName"
                                                               name="TimelineName" placeholder="Nhập tên lịch làm việc" >
                                                    </div>
                                                    <div class="col-sm-1"></div>
                                                </div>

                                                <input type="submit" hidden id="sumbitdata">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng bảng</button>
                                        <input type="submit" data-dismiss="modal" class="btn btn-primary" style="background-color:#6667AB ;"
                                               value="Lưu dữ liệu" onclick="submitdatafunc()">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1"></div>

            </div>

            <script>
                function  openformEdit(id) {



                    name = document.getElementById("TimelineNames" + id).innerText;

                    document.getElementById("id").value = id;

                    document.getElementById("TimelineName").value = name;
                    document.getElementById("openfform").click();
                }

                function submitdatafunc() {
                    document.getElementById("sumbitdata").click();

                }
            </script>

            <script type="text/javascript">
                function clearSearch() {
                    window.location = "[[@{/account/index}]]";
                }
            </script>

        </div>


    </body>

</html>